<% include header%>

<ul id="nav-top" class="nav uk-nav uk-hidden-small">
  <li id="menu-item-92" class=" uk-active"><a href="/">Home</a></li>
  <li id="menu-item-86" class=""><a href="/mood">Mood</a></li>
</ul>
<form class="s uk-form uk-hidden-small" id="searchform" method="get" action="/search">
  <input class="uk-width-1-1 " type="text" value="" name="s" id="s" placeholder="Search" />
</form>
</div>
</div>
<div class="ft uk-hidden-small">
  <p><a href="#my-link" data-uk-modal>友情链接</a> </p>
</div>
</div>
</div>

<div id="content" class="uk-width-small-1-1 uk-width-medium-3-4 uk-width-large-5-6 uk-grid uk-grid-collapse">
  <div class="uk-width-small-1-1 uk-width-medium-3-4 uk-width-large-7-10">
    <div id="index" class="bs uk-text-break"><article id="article" class="uk-article">
        <h1 class="uk-article-title"><%= article.title %></h1>

        <ul class="singlenav uk-breadcrumb">
          <li><i class="uk-icon-calendar"></i> <%= moment(article.updateTime).format("YYYY-MM-DD") %></li>
          <li><i class="uk-icon-eye"></i> <%= article.reads  %></li>
          <li><i class="uk-icon-commenting-o"></i>  <a href="https://www.fanweimei.com/?p=20#comments">8</a></li>
        </ul>
        <p><%= article.body %></p>
        <div class="reward"><a href="#reward" class="rewards uk-button">赏</a></div>
        <div id="reward" class="uk-modal">
          <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">感谢打赏!</div>
            <div class="uk-thumbnail"><img src="">
              <div class="uk-thumbnail-caption">微信</div>
            </div>
          </div>
        </div>
        <div class="tags uk-clearfix">
          <div class="tags uk-float-left"><i class="uk-icon-tags"></i>
            <% article.tags.forEach(function (tag) { %>
            <a href="/tag/<%=  tag._id %>" rel="tag"><%= tag.name %></a>
            <% }) %>
          </div>
          <div class="uk-float-right"></div>
        </div>
      </article>

        <div id="qzhai_comments">
            <h4>评论</h4>
            <div class="uk-alert">
                <p>还没有任何评论，你来说两句吧</p>
            </div>
            <div id="respond" class="comment_form" role="form">
                <h2 id="reply-title" class="comments-title">发表评论 <small>
                        <a rel="nofollow" id="cancel-comment-reply-link" href="/?p=506#respond" style="display:none;">点击这里取消回复。</a>                    </small></h2>
                <form action="https://www.fanweimei.com/wp-comments-post.php" method="post" class="uk-form" id="commentform">
                    <div class="textarea_qzhai">
                        <ul class="uk-subnav">
                            <li id="emojis_a" class="uk-parent">
                                <a href="javascript:;"> <i class="uk-icon-smile-o"></i></a>
                            </li>
                            <li>
                                <a onclick="javascript:grin('<img src=\'输入图片地址\' />')"> <i class="uk-icon-image"></i></a>
                            </li>
                        </ul>
                        <div id="emojis_list" class="uk-overflow-container" style="display:none;">
                            <table>
                                <tr>
                                    <td>
                                        <a onclick="javascript:grin(':razz:')"><img src=""></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <textarea id="comment" onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('submit').click();return false};" placeholder="内容..." tabindex="1" name="comment"></textarea>
                    </div>
                    <div class="text uk-grid uk-grid-small">
                        <div class="uk-width-medium-1-4 uk-form-icon">
                            <i class="uk-icon-user"></i>
                            <input id="author" type="text" tabindex="2" value="" name="author" placeholder="昵称*" class="uk-width-1-1">
                        </div>
                        <div class=" uk-width-medium-1-4 uk-form-icon">
                            <i class="uk-icon-envelope"></i>
                            <input id="email" type="text" tabindex="3" value="" name="email" placeholder="邮箱*" class="uk-width-1-1">
                        </div>
                        <div class="uk-width-medium-1-4 uk-form-icon">
                            <i class="uk-icon-laptop"></i>
                            <input id="url" type="text" tabindex="4" value="" name="url" placeholder="网址" class="uk-width-1-1">
                        </div>
                        <div class="uk-width-medium-1-4">
                            <button name="submit" type="submit" id="submit" class="uk-button uk-width-1-1" tabindex="5" />回复</button>
                        </div>
                    </div>
                    <div class="uk-margin-small-top">
                        <div style="margin-top:5px;">
                            <input type="checkbox" name="comment_mail_notify" id="comment_mail_notify" value="comment_mail_notify" checked="checked" style="margin-right:5px;" />
                            <label for="comment_mail_notify">有人回复时邮件通知我</label>
                        </div>
                    </div>
                    <input type='hidden' name='comment_post_ID' value='506' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </form>
            </div>
            </form>
            
        </div>
      <!-- Comment Form -->
    </div>

  </div>


<% include footer%>