<div id="sidebar" class="uk-width-small-1-1 uk-width-medium-1-4 uk-width-large-3-10">
    <ul class="ul">
        <li>
            <h4>近期文章</h4>
            <ul>
                <% locals.recentArticles.forEach(function (article) { %>
                    <li><a href="/article/<%= article._id %>"><%= article.title %></a></li>
                <% }) %>
            </ul>
        </li>
        <li>
            <h4>文章分类</h4>
            <ul>
                <% locals.categorys.forEach(function (category) { %>
                    <li><a href='/category/<%= category._id %>'><%= category.name %></a></li>
                <% }) %>
            </ul>
        </li>
        <li>
            <h4>标签云</h4>
            <div class="post-tags">
                <% locals.tags.forEach(function (tag) { %>
                    <a href='/tag/<%= tag._id %>' class='tag-link-19' title='6个话题' style='font-size: 12px;'><%= tag.name %></a>
                <% })%>


            </div>
        </li>
        <li>
            <h4>优惠链接</h4>
            <ul>
                <% locals.discounts.forEach(function (link) { %>
                <li><a href='<%= link.link %>'><%= link.name %></a></li>
                <% }) %>
            </ul>
        </li>
    </ul>
</div>
<div class="ft uk-visible-small">
    <p><a href="#my-link" data-uk-modal>友情链接</a> </p>
</div>
</div>
<!--<a href="#" class="top" data-uk-smooth-scroll style="display:none"><i class="uk-icon-angle-up"></i></a>-->
<div id="my-link" class="uk-modal"><div class="uk-modal-dialog"><a class="uk-modal-close uk-close"></a><h2>友情链接</h2><ul id="link_qzhai" class=" uk-subnav uk-subnav-line"><li id="menu-item-601" class="" ><a href="http://qzhai.net/">衫小寨 &#8211; 主题作者</a></li>
            <li id="menu-item-670" class="" ><a href="http://www.b77d.cc">殇。</a></li>
            <li id="menu-item-678" class="" ><a href="http://stodgers.com/">平凡人</a></li>
            <li id="menu-item-599" class="" ><a href="http://blog.csdn.net/u011403655">夕下奕林</a></li>
            <li id="menu-item-677" class="" ><a href="https://www.2ii.me">维度空间</a></li>
            <li id="menu-item-648" class="" ><a href="http://www.hecongda.com">文明的猎手</a></li>
            <li id="menu-item-667" class="" ><a href="http://www.cuixt.com/blog/">Crispxt</a></li>
            <li id="menu-item-579" class="" ><a href="http://rainey.space">Rainey</a></li>
            <li id="menu-item-600" class="" ><a href="http://www.zkl2333.com/">My space</a></li>
            <li id="menu-item-649" class="" ><a href="http://www.cuffeer.com">iSnowHack</a></li>
            <li id="menu-item-580" class="" ><a href="http://xnix.me">Season&#8217;s neko</a></li>
        </ul></div></div>
<!--<script src="/javascripts/canvas-nest.min.js"></script>-->
</body>

</html>