<% include header%>

<ul id="nav-top" class="nav uk-nav uk-hidden-small">
  <li id="menu-item-92" class="uk-active"><a href="/">Home</a></li>
  <li id="menu-item-86" class=""><a href="/mood">Mood</a></li>
</ul>
<form class="s uk-form uk-hidden-small" id="searchform" method="post" action="/search">
  <input class="uk-width-1-1 " type="text" value="" name="q" id="s" placeholder="Search" />
</form>
</div>
</div>
<div class="ft uk-hidden-small">
  <p><a href="#my-link" data-uk-modal>友情链接</a> </p>
</div>
</div>
</div>
<div id="s_s" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
        <ul id="nav-top-s" class="uk-nav uk-nav-offcanvas" data-uk-nav="">
            <li id="menu-item-203" class=""><a href="/"> Home</a></li>
            <li id="menu-item-987" class=""><a href="/mood"> Mood</a></li>
        </ul>
        <form class="uk-form" id="searchform" method="post" action="/search">
            <input class="uk-width-1-1 " type="text" value="" name="q" id="s" placeholder="Search">
        </form>
    </div>
</div>
<div id="content" class="uk-width-small-1-1 uk-width-medium-3-4 uk-width-large-5-6 uk-grid uk-grid-collapse">
  <div class="uk-width-small-1-1 uk-width-medium-3-4 uk-width-large-7-10">
    <div id="index" class="bs uk-text-break">
      <h4><%= result.TagName %></h4>
      <div id="list">
        <% result.articles.forEach(function (article) { %>
        <article class="article class_3">
          <h1><a href="/article/<%= article._id %>" ><%= article.title %></a></h1>
          <p><%= article.description %>
            <time>
              <br><%= moment(article.updateTime).format("YYYY年MM月DD日") %></time>
          </p>
        </article>
        <% }) %>
      </div>
    </div>
  </div>


<% include footer%>